.content {
	min-height: calc(100vh - 50px);
}
.footer {
	background-color: black;
	color: white;
	height: 50px;
}
.footer_text {
	float: right;
	margin-right: 1rem;
	font-size: 12px;
	vertical-align: center;
}