
body {
  margin: 0;
  font-size: 14px;
	font-family: 'Bebas Neue', cursive;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
	outline: none;
}

.text_answer {
  width: 60%;
  text-align: center;
  font-size: 24px;
  margin: 0 auto;
}

.block_error {
  text-align: center;
  position:absolute;
  top:35%;
  left: 47%;
}
.block_error h1 {
  font-size: 100px;
}

.block_error p {
  font-size: 36px;
}

@media (max-width: 768px) { 
  .block_error {
    text-align: center;
    position:absolute;
    top:30%;
    left: 35%;
  }
}